[Service]
ExecStart=/home/build/.nvm/current/bin/node /home/build/slack-repeater/repeater.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=repeater.js
User=woot
Group=woot

[Install]
WantedBy=multi-user.target
